# Flutter/Dart/Pub related
**/build/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Android Studio related
*.jks
*.keystore
*.gradle
local.properties

# Miscellaneous
*.log
*.lock
*.pyc
*.pyo
.DS_Store
.env
